/* all rights reserved */

/*nav bar for both*/
nav {
  font-size:20px;
  text-decoration: none;
  border:5px solid black;
  word-spacing: 65px;
  text-decoration-style: solid;
}
  /*nav bar for both end*/

/*about us page*/
div {
background-color: #35978f;
margin: auto;
width: 80%;
border: 7px solid black;
padding: 10px;
}
body#aboutbody{
background-image: url(https://www.washingtonpost.com/resizer/LgggStkyddK3qfFPzM3cO5Ch_aA=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/EBULPVFULQI6PG4TXFYEHZL2EI.jpg);
}

/*End of about us*/

div {
  background-color: #35978f;
  margin: auto;
  width: 80%;
  border: 7px solid black;
  padding: 10px;
}


ul {
  color:black;
  font-size:30px;
  text-shadow:1px 1px;
}
h2 {
  font-size: 36px;
  color:gold;
}

body#b1 {
  border: 2px solid lime;
  background-image: url(https://www.washingtonpost.com/resizer/LgggStkyddK3qfFPzM3cO5Ch_aA=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/EBULPVFULQI6PG4TXFYEHZL2EI.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color:#03D1FF;
  font-size:22px;
}


 h5 {
  font-family:cursive;
    position: absolute;
    right: 25px;
    top: 250px;
    color: brown;
    font-size:25px;
    transform: rotate(270deg);
	transform-origin: left center 50;
  float:center;
}

/*cars area*/
.lamborghini {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }

.Audi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Mercedes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Divo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Chiron {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Rimac {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-size:15px;
  font-family: Tahoma;
  border: 0.5px solid black;
  color:#00FF00;
}

ul#cars, h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

li {
  text-decoration-line: underline;
}

/*end of car area*/

/*beginning of tabe area*/
table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
  font-size: 20px;
  font-family: georgia;
  color:gold;
}

table {
  border-spacing: 5px;
}

table#t01 {
  width: 100%;
  background-color: #5f9ea0;
}

 .t01caption {
   font-size: 36px;
   font-family:fantasy;
 }

 td {
   font-family:Helvetica;
   color:lime
 }

/*end of table area*/

/* copyright area*/

body#b1 {
  background-repeat: no-repeat;
}

.copyright {
  border: 2px solid white;
  background-color: black;
}
h1#copy1 {
    color: #35978f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
  font-size:40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color:blue;
}

h1#copy2 {
  word-spacing: 50px;
  font-size:12px;
  color: #35978f;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/*end of copyright area*/

/*image border*/
img {
  border: 6px solid black
}
